.baseTable {
  width: 100%;
  height: calc(50% - 10px);
  margin-bottom: 10px;

  .baseTableTitle {
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .baseTableContents {
    width: 100%;
    height: calc(100% - 30px);

    overflow-y: scroll;
    -ms-overflow-style: none;

    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );

    .baseTableColumn {
      display: flex;
      width: 100%;
    }

    .baseTableRow {
      position: relative;
      padding: 10px;
      width: 120px;

      font-size: 14px;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      border: 1px solid lightgrey;

      .baseTableRowUse {
        position: absolute;
        top: 8px;
        right: 5px;
      }
    }

    .baseTableRow.notuse {
      color: #fafafa;
    }
  }

  .baseTableContents::-webkit-scrollbar {
    display: none;
  }
}
