.fileAttach {
  margin: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-File {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 2px dashed black;
    border-radius: 20px;

    font-size: 18px;
    font-weight: bold;

    &-Dragging {
      background-color: black;
      color: white;
    }
  }
}
