.selectField {
  display: flex;
  width: 100%;
  height: 100%;

  .selectFieldLeft {
    padding: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    overflow: scroll;

    .css-1nrlq1o-MuiFormControl-root {
      width: 100%;
      height: 100%;
      overflow: scroll;
    }
  }

  .selectRight {
    padding: 10px;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    overflow: scroll;

    .css-1nrlq1o-MuiFormControl-root {
      width: 100%;
      height: 100%;
      overflow: scroll;
      scrollbar-width: none;
    }

    .radioFieldLabel {
      display: flex;

      .radioFieldLabelDetail {
        align-items: center;
        // justify-content: center;

        padding: 10px;
        width: 120px;

        font-size: 14px;

        overflow: hidden;
        text-overflow: ellipsis !important;
        white-space: nowrap;

        border: 1px solid lightgrey;
      }
    }
  }
}
